* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 800px;
    height: 50px;
    background-color: rgba(229,121,230,255);
    margin: 0 auto;
    padding-top: 5px;
}

main {
    margin: 0 auto;
}

margin > div {
    padding-top: 5px;
}